[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-exchange"]
	path = vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim-sneak"]
	path = vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-signify"]
	path = vim-signify
	url = https://github.com/mhinz/vim-signify.git
